.rightIcon {
    /* 아이콘 속성 */
    background-color: #007bff;
    border-radius: 50%;
    color: #f9f9f9;
  }
  .review-title {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  .review-write {
    position: relative;
    width: 60%;
    justify-content: center; /* 자식 요소를 수직 가운데 정렬 */
    align-items: center;
    margin: 20px auto;
  }